[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "public"]
	path = public
	url = https://github.com/TeamLinux01/TeamLinux01.github.io
